<app-input></app-input>
<!--<app-accordion title="test">-->
<!--  <div>Test 2</div>-->
<!--</app-accordion>-->
<app-button>Test</app-button>
<!--<app-date-picker></app-date-picker>-->
<!--<app-checkbox></app-checkbox>-->
<!--<app-input-with-floating-label></app-input-with-floating-label>-->
<!--<app-radio-group [radioGroup]="[{value: 'test', label: 'test'}]"></app-radio-group>-->
<!--<app-select [options]="[{name: 'Test', value: 'Test'}]" label="name"></app-select>-->
<!--<app-textarea></app-textarea>-->
